name: Publish on PyPI & Anaconda

on: 
  release:
    types: [ published ]

jobs:
  publish:
    name: Publish on PyPI & Anaconda
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
      
      - name: "Install dependencies"
        run: pip install ".[dev]"
      
      - name: Build
        run: python -m build .

      - name: Build & Publish on PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
      
      - name: Extract latest version from release files
        run: |
          VERSION=$(python -c "from importlib.metadata import version; print(version('openhexa.sdk'))")
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Extracted version: $VERSION"
      
      - name: Conda environment creation and activation
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: true
          auto-activate-base: true
          show-channel-urls: true

      - name: Install conda tools
        run: |
          conda install -y conda-build anaconda-client
  
      - name: Build and upload conda package
        shell: bash -l {0}
        working-directory: recipe
        env:
          VERSION: ${{ env.VERSION }}
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          conda config --set anaconda_upload yes
          conda build . --channel conda-forge --channel bioconda